# Exercise 1

In [ ]:
%pip install mysql-connector-python

In [ ]:
import mysql.connector as connector

In [ ]:
connection = connector.connect(
    user="root",
    password="your_password",
    host="localhost",
    port=3306,
    # database="LittleLemon"
)

In [ ]:
cursor = connection.cursor()
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print(tables)
cursor.close()
connection.close()

In [ ]:
join_query = """
SELECT 
    CONCAT(c.FirstName, ' ', c.LastName) AS FullName,
    c.Email, 
    c.PhoneNumber,
    o.TotalCost
FROM 
    Orders o
JOIN 
    Customers c 
ON 
    o.CustomerID = c.CustomerID
WHERE 
    o.TotalCost > 60
"""

In [ ]:
cursor.execute(join_query)
results = cursor.fetchall()
for row in results:
    print(row)